.active{
  -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #e00085;
    border-radius: 0;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-transition: background-color .25s ease-out,color .25s ease-out;
    transition: background-color .25s ease-out,color .25s ease-out;
    vertical-align: middle;
    background-color: #e00085;
    border: 1px solid transparent;
    color: #fff;
}